<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMIN__css/system.css">
<link rel="stylesheet" href="__ADMIN__css/style.css">
<link href="__ADMIN__css/table_form.css" rel="stylesheet"/>
<link href="__ADMIN__css/reset.css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="__ADMIN__js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__ADMIN__js/admin_common.js"></script>
<script type="text/javascript" charset="utf-8" src="__ADMIN__js/Validform_v5.3.2.js"></script>
</head>
<body>
<div class="pad-10">
<div class="table-list">
<div class="main_head">
<h6>
<div class="fl">会员列表</div>
<div class="fr">
<a href="{:U('Yunzhansystem/Member/add')}"><em>添加会员</em></a>
</div>
</h6>
</div>
<table width="100%">
        <thead>
            <tr>
            <th width="5%">ID</th>
            <th>用户名</th>
            <th width="15%">昵称</th>
            <th width="15%">性别</th>
            <th width="15%">添加时间</th>
            <th width="20%">操作</th>
            </tr>
        </thead>
    <tbody>
    <volist name="list" id="val">
    <tr>
        <td align="center" width="5%">{$val['uid']}</td>
        <td align="center" width="">{$val['username']}</td>
        <td align="center" width="15%">{$val['nickname']}</td>
        <td align="center" width="15%">{$val['sex']}</td>
        <td align="center" width="15%">{:date('Y-m-d H:i:s',$val['create_time'])}</td>
        <td align="center" width="10%">
        <a href="{:U('Yunzhansystem/Member/work?uid='.$val['uid'])}">作品列表</a> |
        <a href="{:U('Yunzhansystem/Member/consignee?uid='.$val['uid'])}">收货地址</a> | 
        <a href="{:U('Yunzhansystem/Member/edit?id='.$val['uid'])}">修改</a> | <a href="javascript:confirmurl('{:U('Yunzhansystem/Member/del?id='.$val['uid'])}','确认要删除 『 {{$val['username']}} 』 吗？')">删除</a>
        </td>
    </tr>
    </volist>
     </tbody>
     </table>
</div>
 <div id="pages" style="padding:0px; margin-right:20px;"></div>
</div> 
</body>
</html>