<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="stylesheet" href="__ADMIN__css/system.css">
<link href="__ADMIN__css/table_form.css" rel="stylesheet"/>
<link href="__ADMIN__css/reset.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="__ADMIN__js/calendar/jscal2.css"/>
<link rel="stylesheet" type="text/css" href="__ADMIN__js/calendar/border-radius.css"/>
<link rel="stylesheet" type="text/css" href="__ADMIN__js/calendar/win2k.css"/>
<script src="__ADMIN__js/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="__ADMIN__js/admin_common.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="__ADMIN__js/calendar/calendar.js"></script>
<script type="text/javascript" src="__ADMIN__js/calendar/lang/en.js"></script>
</head>
<body>
<div class="pad-10">
 
<form name="myform" id="myform" action="" method="post">
<div class="table-list">
<div class="main_head">
<h6>
<div class="fl">单页列表</div>
<div class="fr">
</div>
</h6>
</div>

<table width="100%">
        <thead>
            <tr>
            <th width="100" align="center">ID</th>
            <th>标题</th>
            <th width="100">管理操作</th>
            </tr>
        </thead>
<tbody>
  <volist name="list" id="val">
  <if condition="$val['type'] eq 'Pages'">
        <tr>
        <td width="100" align="center">{$val['id']}</td>
        <td><a href="javascript:;"><span>{$val['title']}</span></a></td>
        <td width="100" align="center">
        <a href="{:U('Yunzhansystem/Pages/edit?id='.$val['id'])}">修改</a></td>
    </tr>
  </if>
  </volist>

             </tbody>
     </table>
     <div style="height:50px;"></div>
    <div style="position:fixed; bottom:0px; width:100%; left:0px;" class="btn">
    <div style="float:left;">
        </div>
            <div style="padding:0px; margin-right:20px;" id="pages">{$page}</div>
        <div style="clear:both;"></div>     
            </div>
</div>
</form>
</div>
</body>
</html>