<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="stylesheet" href="__ADMIN__css/system.css">
<link href="__ADMIN__css/table_form.css" rel="stylesheet"/>
<link href="__ADMIN__css/reset.css" rel="stylesheet"/>
<link href="__ADMIN__css/style.css" rel="stylesheet"/>
<link href="__ADMIN__css/laydate.css" rel="stylesheet"/>
<script src="__ADMIN__js/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="__ADMIN__js/admin_common.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="__ADMIN__js/laydate.js"></script>
</head>
<body>
<div class="pad-10">
<form name="myform" id="myform" action="" method="post">
<div class="quick_btn clearfix">
<div class="pad-20">
       <span class="l_f">
       <label for="check_box">全选/取消</label>
        <a class="btn-warning " title="排序" href="javascript:void(0);" onclick="myform.action='{:U('Yunzhansystem/Case/more_del?status=1')}';myform.submit();">排序</a>
        <a class="btn-danger" title="批量删除" href="javascript:void(0)" onclick="myform.action='{:U('Yunzhansystem/Case/more_del?status=2')}';myform.submit();">批量删除</a>
        <a class="btn-warning " title="添加信息" href="{:U('Yunzhansystem/Case/add')}" >添加信息</a>
       </span>
       <span class="r_f">共：<b> {$M_count} </b> 条信息</span>
</div>
</div>

<div class="table-list">
<div class="main_head">
<h6>
<div class="fl">当前筛选地区：{$Areaname}</div>
<div class="fr">
</div>
</h6>
</div>

<table width="100%">
<thead>
<tr>
    <th width="26" align="center"><input type="checkbox" value="" id="check_box" onclick="selectall('id[]');"></th>
    <th width="47" align="center">排序</th>
    <th width="100" align="center">ID</th>
    <th>标题</th>
    <th width="100">地区</th>
    <th width="100">分类</th>
    <th width="80">审核</th>
    <th width="118">更新时间</th>
    <th width="100">管理操作</th>
</tr>
</thead>
<tbody>
  <volist name="list" id="val">
        <tr>
        <td width="26" align="center"><input type="checkbox" class="inputcheckbox " name="id[]" id="id[]" value="{$val['id']}"></td>
        <td width="47" align="center"><input type="text" name="listorders[{$val['id']}]" size="3" value="{$val['sort']}" class="input-text-c input-text"></td>
        <td width="100" align="center">{$val['id']}</td>
        <td>
        <a href="{:U('Yunzhansystem/Case/edit?id='.$val['id'])}"><span>{$val['title']}</span></a>
        <if condition="$val['thumb'] neq ''">&nbsp;&nbsp;<span class="blue">[图]</span></if>
        </td>
        <td width="100" align="center"><a href="{:U('Yunzhansystem/Case/index?area_id='.$val['area_id'])}">{:get_row('地区',$val['area_id'],'title')}</a></td>
        <td width="100" align="center"><a href="{:U('Yunzhansystem/Case/index?catid='.$val['catid'])}">{$category[$val['catid']]['title']}</a></td>
        <td width="80" align="center"><if condition="$val['status'] eq 1">已审核<else/><span class="red">未审核</span></if></td>
        <td width="118" align="center">{:date('Y-m-d h:i',$val['create_time'])}</td>
        <td width="100" align="center">
        <a href="{:U('Yunzhansystem/Case/edit?id='.$val['id'])}">修改</a></td>
    </tr>
    </volist>
             </tbody>
     </table>
<div id="pages">{$page}</div>
<div style="clear:both;"></div>     
</div>
</form>

</div>
</body>
</html>