<extend name="Public/main" />
<block name="main">
<div class="crumbs2">{:catpos($catid)}</div>
<div class="category_tree pdlr15">
    <div class="catename">{$topinfo['title']}</div>
    <if condition="$category['pid'] neq 47">
    <ul>
       <volist name=":get_category($category['pid'])" id="vo">
            <li <eq name="vo['id']" value="$catid">class="active"</eq>><a href="{$vo['url']}">{$vo['title']}</a></li>
        </volist>
    </ul>
    <else/>
     <ul>
       <volist name=":get_category($catid)" id="vo">
            <li <eq name="vo['id']" value="$catid">class="active"</eq>><a href="{$vo['url']}">{$vo['title']}</a></li>
        </volist>
    </ul>
    </if>
</div>
<div class="pro_lists">
<ul>
<volist name="lists" id="vo">
    <li>
    <div class="pull_left"><a href="{$vo['url']}"><img src="{:thumb($vo['thumb'],151,80)}" alt="" width="151" height="80"></a></div>
    <div class="pull_right">
    <a href="{$vo['url']}" class="title">{$vo['title']}</a>
    <span class="brand">品牌:   Polycom </span>
    <span class="desc">{:msubstr($vo['description'],0,25)}<a href="{$vo['url']}">查看详情</a></span>
    </div>
    </li>
</volist>
</ul>
<div class="clear"></div>
</div>
<div class="paing">{$page}</div>
<div class="clh20"></div>
</block>