<extend name="Public/main" />
<block name="main">
<div class="slide-page">
</div>
<div class="crumbs wrap">
    <div class="w">{:catpos($catid)}</div>
</div>
<div class="toptitle">
    <div class="Ft_li"><div class="Sc_li"><div class="Tr_li">
    <a href="{$vo['url']}" style="list-style: outside none none;margin-left: 20px;">{$topinfo['title']}</a>
   </div></div></div>
   
<div class="w container">
    <div class="left menu-tree">
        <h3>{$topinfo['title']}</h3>
        <ul>
          <volist name=":get_category($top_catid)" id="vo">
            <li <eq name="vo['id']" value="$catid">class="active"</eq>><a href="{$vo['url']}">{$vo['title']}</a></li>
          </volist>
        </ul>
    </div>
    <div class="right">
      <div class="news-list">
          <ul>
          <volist name="lists" id="vo">
              <li><a href="{$vo['url']}" title="{$vo['title']}">· {$vo['title']}</a><span>{:date('Y/m/d',$vo['create_time'])}</span></li>
          </volist>
          </ul>
          <div class="clh20"></div>
          <div class="paging">{$page}</div>
      </div>
    </div>
</div>
<div class="clh20"></div>
</block>