<extend name="Public/main" />
<block name="main">
<div class="crumbs2">{:catpos($catid)}</div>
<div class="category_tree pdlr15">
    <div class="catename">{$topinfo['title']}</div>
    <if condition="$category['pid'] neq 47">
    <ul>
       <volist name=":get_category($category['pid'])" id="vo">
            <li <eq name="vo['id']" value="$catid">class="active"</eq>><a href="{$vo['url']}">{$vo['title']}</a></li>
        </volist>
    </ul>
    <else/>
     <ul>
       <volist name=":get_category($catid)" id="vo">
            <li <eq name="vo['id']" value="$catid">class="active"</eq>><a href="{$vo['url']}">{$vo['title']}</a></li>
        </volist>
    </ul>
    </if>
</div>
<div class="art_head">
    <div class="title">{$info['title']}</div>
</div>
<div class="art_con">{$info['content']}</div>
<div class="clh20"></div>
</block>