<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="stylesheet" href="__ADMIN__css/system.css">
<link rel="stylesheet" href="__ADMIN__css/style.css">
<link href="__ADMIN__css/table_form.css" rel="stylesheet"/>
<link href="__ADMIN__css/reset.css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="__ADMIN__js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__ADMIN__js/Validform_v5.3.2.js"></script>
</head>
<body>
<div class="pad-10">
<form method="post" action="" name="myform">
<div class="quick_btn clearfix">
<div class="pad-20">
       <span class="l_f">
       <label for="check_box">全选/取消</label>
        <a class="btn-warning " title="排序" href="javascript:void(0);" onclick="myform.action='{:U('Yunzhansystem/Ads/more_del?action=1&catid='.$catid)}';myform.submit();">排序</a>
         <eq name="category['is_lower']" value="1"><a class="btn-danger" title="批量删除" href="javascript:void(0)" onclick="myform.action='{:U('Yunzhansystem/Ads/more_del?action=2&catid='.$catid)}';myform.submit();">批量删除</a>
        <a class="btn-warning " title="添加信息" href="{:U('Yunzhansystem/Ads/add?catid='.$catid)}" >添加广告位</a></eq>
       </span>
       <span class="r_f">共：<b> {$M_count} </b> 条信息</span>
</div>
</div>

<div class="table-list">
<div class="main_head">
<h6>
<div class="fl">广告位列表</div>
<div class="fr"></div>
</h6>
</div>
    <table class="contentWrap" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th align="center" width="30"><input onclick="selectall('id[]');" id="check_box" value="" type="checkbox"></th>
            <th width="35">ID</th>
            <th width="70">排序</th>
            <th align="center">广告标题</th>
            <th align="center">状态</th>
            <th align="center" width="200">所属版位</th>
            <th align="center" width="110">管理操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="val">
        <tr>
    <td align="center">
    <input value="{$val['id']}" name="id[]" type="checkbox">
    </td>
    <td align="center">{$val['id']}</td>
    <td width="70"><input class="input-text-c input-text" value="{$val['sort']}" size="3" name="listorders[{$val['id']}]" type="text"></td>
    <td>{$val['title']}</td>
    <td align="center">{$val['status']}</td>
    <td align="center">
    {:get_row('版位',$val['catid'],'title')}</td>
    <td align="center"><a href="{:U('Yunzhansystem/Ads/edit?id='.$val['id'].'&catid='.$val['catid'])}">修改</a></td>
    </tr>
    </volist>
    </tbody>
    </table>
    <div id="pages">{$page}</div>
</div>
</form>
</div>
</body>
</html>
